  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Psiconnect_01</title>

    <link rel="stylesheet" href="~/css/painel.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</head>

<body>
  @if (User.Identity.IsAuthenticated)
    {
        
            <nav class="navbar navbar-light bg-light">
                <div class="col-12">
			        <img class="float-left" src="~/img/Logo.png" alt="Logo da Empresa">
                    <ul>
			            <li class="float-right nav-item dropdown">
				            <a class="btn btn-outline-danger" asp-area="" asp-controller="Usuarios" asp-action="Logout">Sair</a>
			            </li>
                    </ul>
                </div>
            </nav>
       
    }
        <div class="container-fluid mt-4">
            <div class="row">
               <div class="col-md-3 col-sm-12 mb-4">
                  @if (User.Identity.IsAuthenticated)
                      {
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" role="tab" aria-controls="v-pills-home" aria-selected="true" asp-area="" asp-controller="Home" asp-action="Index">&emsp; Home</a>
                            <a class="nav-link" id="v-pills-profile-tab" role="tab" aria-controls="v-pills-profile" aria-selected="false" asp-area="" asp-controller="Pacientes" asp-action="Index">Paciente</a>
                            @if (User.IsInRole("ProfissionalDeSaude"))
                            {
                                <a class="nav-link" asp-area="" asp-controller="Atendimentos" asp-action="Index">Atendimentos</a>
                            }
                            <a class="nav-link" id="v-pills-profile-tab" role="tab" aria-controls="v-pills-profile" aria-selected="false" asp-area="" asp-controller="Usuarios" asp-action="Details">Meus Dados</a>
                        </div>
                        }
                </div>
        
                <div class="col-md-9 col-sm-12">
                        <div class="tab-content" id="v-pills-tabContent">
                            <main role="main" class="pb-3">
                               @RenderBody()
                            </main>
                        </div>
                 </div>
            </div>
        </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
 
