@model Psiconnect_01.Models.Usuario

@{
    ViewData["Title"] = "Login";
}


<div class="row justify-content-center">
    <div class="col-md-4">
        <img src="~/img/User-1.png" alt="Logo da Empresa">
        <!-- <p><b>Login</b></p> -->
        <hr />
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Entrar" class="btn btn-primary float-right" />
                <a class="nav-link text-info" asp-area="" asp-controller="Usuarios" asp-action="Index">Cadastre aqui</a>

            </div>
        </form>
    </div>
</div>

<div>
    <!-- <a asp-action="Index">Back to List</a> -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
