@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-9 col-sm-12">
    <h5>Bem Vindo, @User.Identity.Name </h5>
    <div>
        <img class="col-md-3 col-md-12" src="~/img/Imagemhome.png" alt="medica" />
    </div>
    
</div>