@{
    ViewData["Title"] = "Home Page";
}


   


<body>
<div class="text-center">
    <h5 class="display-6">Bem Vindo, @User.Identity.Name </h5>
    <div>
        <img src="~/img/Imagemhome.png" alt="medica" />
    </div>
    
</div>
</body>