@model Psiconnect_01.Models.Atendimento

@{
    ViewData["Title"] = "Editar Atendimento";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" ></script>
<div class="row">
    <div class="col-md-5">
        <form asp-action="Edit">
            <h5>Editar Atendimento</h5>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PacienteId" class="control-label">Nome do Paciente:</label>
                <select asp-for="PacienteId" class="form-control" asp-items="ViewBag.PacienteId"></select>
                <span asp-validation-for="PacienteId" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="Tipo" class="control-label">Tipo de Atendimento:</label>
                <select asp-for="Tipo" class="form-control" asp-items="Html.GetEnumSelectList<TipoEspecialidade>()"></select>
                <!-- <select asp-for="Tipo" class="form-control"></select>-->
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodProfissional" class="control-label">Número do Registro Profissional:</label>
                <input asp-for="CodProfissional" readonly value="@Model.CodProfissional" class="form-control" />
                <span asp-validation-for="CodProfissional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeProfissional" class="control-label">Nome do Profissional da Saúde:</label>
                <!-- <input asp-for="NomeProfissional" class="form-control" /> -->
                <input asp-for="NomeProfissional" class="form-control" type="text" readonly value="@User.Identity.Name">
                <span asp-validation-for="NomeProfissional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label">Data do Atendimento:</label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label">Descrição:</label>
                <!-- <input asp-for="Descricao" class="form-control" /> -->
                <textarea asp-for="Descricao" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescricao" class="control-label">Prescrição Médica:</label>
                <!-- <input asp-for="Prescricao" class="form-control" /> -->
                <textarea asp-for="Prescricao" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Prescricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sintomas" class="control-label">Sintomas:</label>
                <!-- <input asp-for="Sintomas" class="form-control" /> -->
                <textarea asp-for="Sintomas" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Sintomas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-danger float-left" asp-action="Index">Voltar</a>
                <input type="submit" value="Salvar Alterações" class="btn btn-primary float-right" onclick="swal('Registro Atualizado!', '', 'success')" />
            </div>
        </form>
    </div>
</div>

<div>
    <!-- <a asp-action="Index">Back to List</a> -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
