@model Psiconnect_01.Models.Paciente

@{
    ViewData["Title"] = "Novo Paciente";
}

<head>
    <script  type="text/javascript" src="/js/site.js"></script>
</head>
<h5>Cadastrar Novo Paciente</h5>

<h4></h4>
<hr />
<div class="row bg-light border-primary border" style="border-radius:10px;" >
    <div class="col-md-4">
        <form asp-action="Create" class=" bg-light">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input id="cpf" asp-for="Cpf" class="form-control" maxlength="14" onkeyup="maskCpf()"/>
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input id="tel" asp-for="Telefone" class="form-control" maxlength="14"  onkeyup="masktel()"/>
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cep" class="control-label"></label>
                <input  id="cep" asp-for="Cep" onkeyup="maskcep()" class="form-control" maxlength="9" />
                <span asp-validation-for="Cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereço" class="control-label"></label>
                <input asp-for="Endereço" class="form-control" />
                <span asp-validation-for="Endereço" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary m-2"/>
                <a class="btn-pdg btn btn-danger float-left m-2" asp-action="Index">Voltar</a>
            </div>
          
        </form>
    </div>
</div>

    

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
