*{
    margin:0;
    padding:0;
}

body {
    background-image: url(/img/fundo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    align-content: center;
   
}
.table-overflow {
    max-height: 400px;
    overflow-y: auto;
}
h3{
    text-align: center;
}
hr{
    width:100%;
 }