.bg-image{
	background-image:url(/img/fundotelas.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	margin: 0;

}


#lg{
	height: 22px;
	width: 22px;
	margin: 3px;
}

.navbar {
	opacity:0.9;
	
}

	.navbar img {
		width: 170px;
	}

	.navbar li {
		list-style: none;
	}

	.navbar a {
		color: #071e51;
		font-size: 15px;
	}

		.navbar a:hover {
			color: #244181;
		}


.nav {
	background-color: lightskyblue !important;
	font-weight: bolder;
	border-radius: 10px;
}

.nav a {
		color: white;
		font-size: 14px;
}

	.nav a:hover {
		background-color: #00A4FF !important;
		color: white;
		font-size: large
	}

	.nav .active {
		border-radius:10px;
		background-color: lightskyblue !important;
	}

