
body {
	background-color: #FBFDFF;
}

.navbar {
	background-color: #d3e9ff !important;
	height: 100%;
}

	.navbar img {
		width: 200px;
		
	}

	.navbar li {
		list-style: none;
	}

	.navbar a {
		color: #071e51;
		font-size: 15px;
	}

		.navbar a:hover {
			color: #244181;
		}


.nav {
	background-color: #f4f4f4 !important;
}

.nav a {
		color: #071e51;
		font-size: 14px;
}

.nav a:hover {
		background-color: lightskyblue !important;
}

	.nav .active {
		background-color: #00A4FF !important;
	}